.App {
  text-align: center;
  color: white;
}

.App h3 {
  font-family: Helvetica, Geneva, Arial,
    SunSans-Regular, sans-serif;
}
input {
  border-radius: 12px;
  width: 35%;
  margin: 10px;
  padding: 10px;
}
.AppBody {
  border-radius: 12px;
  background-color: #333;
  color: white;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  opacity: 0.9;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
button {
  padding: 10px;
  border-radius: 15px;
  background-color: #333;
  color: white;
}

.resultsDiv {
  outline: 5px;
  border: 1px solid white;
    
}
