body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  list-style-type: none;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  background-color: #333;
}
li {
  
  display: block;

}
.name {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 10px;
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
  text-decoration: none;
}

.link {
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif;
  text-decoration: none;
}
.link:hover {
  background-color: purple;
}

.login {
  float: center;
  text-decoration: none;
  color: white;

}
.loginList {
  float: right;
  width: 10%;
}